<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
      <a (click)="verHeroe(i)" class="btn btn-outline-primary">ver más...</a>
      <button c type="button" class="btn btn-outline-secundary btn-block">
        ver más bueno...
      </button>
    </div>
  </div>