<div [ngClass]="clase" role="alert">
  A simple primary alert—check it out!
</div>
<button [ngClass]="claseB" (click)="change()">
  <i class="fa fa-anchor" ></i>
</button>
<hr>
<h3 class="m-2">Proceso asincrono</h3>
<button class="m-2 btn btn-primary" type="button" name="button" (click)="ejecutar()" [disabled]="loading">
  <i [ngClass]="{'fa-save': !loading,'fa-sync fa-spin': loading}" class="m-1 fa"></i>
  <span *ngIf="!loading">Guardar</span> 
  <span *ngIf="loading">Espere</span> 
</button>


<div [ngSwitch]="alerta">
  <div class="alert alert-primary" role="alert" *ngSwitchCase="'sucess'">
    A simple primary alert—check it out!
  </div>
  <div class="alert alert-danger" role="alert" *ngSwitchCase="'error'">
    A simple secondary alert—check it out!
  </div>
  <div class="alert alert-success" role="alert"  *ngSwitchCase="'info'">
    A simple success alert—check it out!
  </div>
  <div class="alert alert-secondary" role="alert" *ngSwitchDefault>
    A simple danger alert—check it out!
  </div>
</div>
